@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Обнуление*/

/* Header */

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #31344f;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header {
  position: fixed;
  background-color: #31344f;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 40px;
}

.header__link {
  display: inline-block;
  opacity: 0.74;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header__link:after {
  display: block;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background-color: #b98087;
  /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  /*задаём время анимации*/
}

.header__link:hover:after,
.header__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.content__text {
  text-align: center;
  margin: 0 auto;
  max-width: 913px;
  padding: 0 15px 0 15px;
}

.content__text-title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 150px;
}

.content__text-undertitle {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #ffffff;
  padding: 43px 0 80px 0;
}

.content__text-button {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 155px;
}

.content__button-link {
  background-color: #e84545;
  color: #ffffff;
  padding: 25px 70px;
  border-radius: 2px;
}

.content__button-link:hover {
  background-color: #ffffff;
  color: #e84545;
  cursor: pointer;
}

.header-next {
  margin: 50px 0;
}

.item-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.item {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
}

.item-img {
  display: block;
  margin: 0 auto;
}

.item-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  margin: 30px 0 30px 0;
}

.item-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #6c7279;
}

.works {
  margin: 0px 0 50px 0;
}

.menu-margin {
  border-top: 85px solid transparent;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-item__box {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.works-item__box:before {
  display: block;
  background-color: #db4546;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.works-item__box:after {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  content: attr(alt);
  display: block;
  opacity: 0;
  padding: 0 3%;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
  -webkit-transform: scale(0) translateY(-50%);
  -ms-transform: scale(0) translateY(-50%);
      transform: scale(0) translateY(-50%);
  width: 94%;
  z-index: 3;
}

.works-item__box img {
  border: none;
  display: block;
  z-index: 1;
}

.works-item__img {
  height: auto;
  width: 100%;
}

.works-item__box:after {
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.works-item__box:hover:before {
  opacity: 0.9;
}

.works-item__box:hover:after {
  opacity: 1;
  -webkit-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
      transform: scale(1) translateY(-50%);
}

.works-item__box:after {
  -webkit-transform: scale(0) rotate(-360deg) translateY(-50%);
  -ms-transform: scale(0) rotate(-360deg) translateY(-50%);
      transform: scale(0) rotate(-360deg) translateY(-50%);
}

.works-item__box:hover:after {
  -webkit-transform: scale(1) rotate(0deg) translateY(-50%);
  -ms-transform: scale(1) rotate(0deg) translateY(-50%);
      transform: scale(1) rotate(0deg) translateY(-50%);
}

.works-item__img {
  width: 100%;
  height: auto;
}

.team {
  border-top: 55px solid transparent;
  margin-top: -55px;
  /* паддинги - без проблем */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.team__item-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__item {
  max-width: 270px;
  margin-top: 30px;
}

.team__item-img {
  height: auto;
  width: 100%;
  text-align: center;
}

.team__item-name {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #2d3033;
  margin: 30px 0 15px 0;
}

.team__item-specialty {
  font-family: Raleway, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #e84545;
  margin-bottom: 30px;
}

.team__item-text {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
  max-width: 265px;
}

.team__item-icon {
  margin-top: 30px;
  margin-right: 3px;
}

.facebook {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: auto;
  width: 10%;
}

.twitter {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: auto;
  width: 10%;
}

.pinterest {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: auto;
  width: 10%;
}

.facebook:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.twitter:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.pinterest:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.download {
  text-align: center;
  margin-top: 100px;
}

.download__title {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: #2d3033;
}

.download__undertitle {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  margin: 15px 0 37px 0;
}

.download__button-text {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.download__button-link {
  background-color: #e84545;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 2px;
}

.download__button-link:hover {
  cursor: pointer;
  background-color: white;
  color: #e84545;
  border: 2.5px solid #e84545;
}

.contact {
  background-color: #3a3e64;
  margin-top: 100px;
}

.contact-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item {
  text-align: center;
  max-width: 240px;
  padding: 70px 20px 90px 20px;
}

.contact-item__title {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-item__undertitle {
  opacity: 0.5;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}

.contact-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #313454;
}

.contact-under__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #808080;
  max-width: 315px;
  text-align: center;
  padding: 20px 0;
}

.heart {
  font-family: Webdings, sans-serif;
  color: #e84545;
}

.span {
  color: #ffffff;
}

@media (min-width: 767px) {
  .header__link {
    font-size: calc(11px + 1.2 *((100vw - 320px)/ 1170));
  }

  .header__link {
    font-size: calc(11px + 4 *(100vw/ 1170));
  }

  .content__text-title {
    font-size: calc(20px + 13.5 *((100vw - 320px)/ 1170));
  }

  .content__text-title {
    font-size: calc(20px + 45 *(100vw/ 1170));
  }

  .content__text-undertitle {
    font-size: calc(15px + 2.1 *((100vw - 320px)/ 1170));
  }

  .content__text-undertitle {
    font-size: calc(15px + 7 *(100vw/ 1170));
  }

  .content__text-button {
    font-size: calc(18px + 0.6 *((100vw - 320px)/ 1170));
  }

  .content__text-button {
    font-size: calc(18px + 2 *(100vw/ 1170));
  }

  .item-title {
    font-size: calc(14px + 1.8 *((100vw - 320px)/ 1170));
  }

  .item-title {
    font-size: calc(14px + 6 *(100vw/ 1170));
  }

  .item-text {
    font-size: calc(14px + 1.8 *((100vw - 320px)/ 1170));
  }

  .item-text {
    font-size: calc(14px + 6 *(100vw/ 1170));
  }

  .works-item__box:after {
    font-size: calc(5px + 2.7 *((100vw - 320px)/ 1170));
  }

  .works-item__box:after {
    font-size: calc(5px + 9 *(100vw/ 1170));
  }

  .team__item-name {
    font-size: calc(13px + 2.7 *((100vw - 320px)/ 1170));
  }

  .team__item-name {
    font-size: calc(13px + 9 *(100vw/ 1170));
  }

  .team__item-specialty {
    font-size: calc(13px + 0 *((100vw - 320px)/ 1170));
  }

  .team__item-specialty {
    font-size: calc(13px + 0 *(100vw/ 1170));
  }

  .team__item-text {
    font-size: calc(12px + 0.6 *((100vw - 320px)/ 1170));
  }

  .team__item-text {
    font-size: calc(12px + 2 *(100vw/ 1170));
  }

  .download__title {
    font-size: calc(20px + 2.4 *((100vw - 320px)/ 1170));
  }

  .download__title {
    font-size: calc(20px + 8 *(100vw/ 1170));
  }

  .download__undertitle {
    font-size: calc(11px + 0.6 *((100vw - 320px)/ 1170));
  }

  .download__undertitle {
    font-size: calc(11px + 2 *(100vw/ 1170));
  }

  .download__button-text {
    font-size: calc(9px + 1.2 *((100vw - 320px)/ 1170));
  }

  .download__button-text {
    font-size: calc(9px + 4 *(100vw/ 1170));
  }

  .contact-item__title {
    font-size: calc(15px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-item__title {
    font-size: calc(15px + 1 *(100vw/ 1170));
  }

  .contact-item__undertitle {
    font-size: calc(13px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-item__undertitle {
    font-size: calc(13px + 1 *(100vw/ 1170));
  }

  .contact-under__text {
    font-size: calc(13px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-under__text {
    font-size: calc(13px + 1 *(100vw/ 1170));
  }
}

@media (max-width: 1080px) {
  .team__item-all {
    text-align: center;
  }
}

@media (max-width: 867px) {
  .header__list li {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 767px) {
  .header__link {
    font-size: calc(11px + 1.2 *((100vw - 320px)/ 1170));
  }

  .header__link {
    font-size: calc(11px + 4 *(100vw/ 1170));
  }

  .content__text-title {
    font-size: calc(20px + 13.5 *((100vw - 320px)/ 1170));
  }

  .content__text-title {
    font-size: calc(20px + 45 *(100vw/ 1170));
  }

  .content__text-undertitle {
    font-size: calc(15px + 2.1 *((100vw - 320px)/ 1170));
  }

  .content__text-undertitle {
    font-size: calc(15px + 7 *(100vw/ 1170));
  }

  .content__text-button {
    font-size: calc(18px + 0.6 *((100vw - 320px)/ 1170));
  }

  .content__text-button {
    font-size: calc(18px + 2 *(100vw/ 1170));
  }

  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #31344f;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }

  .content {
    padding: 70px 0px 0px 0px;
  }

  .item-title {
    font-size: calc(14px + 1.8 *((100vw - 320px)/ 1170));
  }

  .item-title {
    font-size: calc(14px + 6 *(100vw/ 1170));
  }

  .item-text {
    font-size: calc(14px + 1.8 *((100vw - 320px)/ 1170));
  }

  .item-text {
    font-size: calc(14px + 6 *(100vw/ 1170));
  }

  .works-item__box:after {
    font-size: calc(5px + 2.7 *((100vw - 320px)/ 1170));
  }

  .works-item__box:after {
    font-size: calc(5px + 9 *(100vw/ 1170));
  }

  .team__item-name {
    font-size: calc(13px + 2.7 *((100vw - 320px)/ 1170));
  }

  .team__item-name {
    font-size: calc(13px + 9 *(100vw/ 1170));
  }

  .team__item-specialty {
    font-size: calc(13px + 0 *((100vw - 320px)/ 1170));
  }

  .team__item-specialty {
    font-size: calc(13px + 0 *(100vw/ 1170));
  }

  .team__item-text {
    font-size: calc(12px + 0.6 *((100vw - 320px)/ 1170));
  }

  .team__item-text {
    font-size: calc(12px + 2 *(100vw/ 1170));
  }

  .download__title {
    font-size: calc(20px + 2.4 *((100vw - 320px)/ 1170));
  }

  .download__title {
    font-size: calc(20px + 8 *(100vw/ 1170));
  }

  .download__undertitle {
    font-size: calc(11px + 0.6 *((100vw - 320px)/ 1170));
  }

  .download__undertitle {
    font-size: calc(11px + 2 *(100vw/ 1170));
  }

  .download__button-text {
    font-size: calc(9px + 1.2 *((100vw - 320px)/ 1170));
  }

  .download__button-text {
    font-size: calc(9px + 4 *(100vw/ 1170));
  }

  .download__title {
    padding: 0 30px;
  }

  .contact-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-item {
    text-align: center;
    max-width: 240px;
    padding: 35px 0 45px 0;
  }

  .contact-item__title {
    font-size: calc(15px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-item__title {
    font-size: calc(15px + 1 *(100vw/ 1170));
  }

  .contact-item__undertitle {
    font-size: calc(13px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-item__undertitle {
    font-size: calc(13px + 1 *(100vw/ 1170));
  }

  .contact-under__text {
    font-size: calc(13px + 0.3 *((100vw - 320px)/ 1170));
  }

  .contact-under__text {
    font-size: calc(13px + 1 *(100vw/ 1170));
  }
}